// Body
$body-bg: #FAFAFA;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$white: #FFFFFF;
$black: #000000;
$carrot-orange: #F3911F;
$pely-sky: #697185;
$catskill-withe: #E0E5F1;
$bright-gray: #313945;
$carnation: #F24D6B;
$selago: #F4F7FD;
$alabaster: #FAFAFA;
$indigo: #3E68CA;
$tropaz: #2A488F;
$christalle: #330065;
$disco: #9E1F63;
$dark: #231F20;
$amarantha-red: #C03115;